<h1>Livro de receitas</h1>

<dl>
<% @recipes.each do |recipe|%>
<dt>
<strong>Nome: </strong> <%=recipe.name%>
</dt>

<dd>
  <strong>Tipo da Receita: </strong><%=recipe.recipe_type%>
  </dd>

<% end %>
</dl>